.products_block_filters {
    display: flex;
    justify-content: space-between;
    margin: 50px 0 64px;

    > div {
        width: 360px;
        text-align: left;
        
        span {
            margin-right: 10px;
        }
        
        tt {
            display: inline-block;
            width: 28px;
        }

        a {
            text-decoration: none;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
        }

        a:hover {
            span {
                text-decoration: underline;
            }
        }
    }

    .filter {
        position: relative;

        span {
            font-weight: 600;
            color: #000000;
        }
        
        .filter_popup {
            position: absolute;
            box-sizing: border-box;

            .filter_menu_itrem {
                display: none;
                transition: 0.5s;
            }
        }
    }

    .filter:hover {
        position: relative;

        span {
            font-weight: 600;
            color: $em_color;
        }

        svg {
            fill: $em_color;
        }
        
        .filter_popup {
            position: absolute;
            top: -16px;
            width: 360px;
            z-index: 200;
            background-color: white;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            padding: 15px;
            box-sizing: border-box;

            .filter_menu_itrem {
                display: block;
                transition: 0.5s;

                .item_name {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 16px 0 0;
                    box-sizing: border-box;

                    div:first-child {
                        height: 37px;
                        width: 5px;
                        background-color: $em_color;
                        margin-right: 10px;
                    }

                    div:last-child {
                        flex-grow: 1;
                        height: 37px;
                        border-bottom: 1px solid #EBEBEB;
                        font-size: 14px;
                        line-height: 37px;
                        color: #6F6E6E;
                    }
                }

                ul {
                    max-height: 0;
                    overflow: hidden;
                    transition: 0.5s;
                    margin: 0;
                }
            }

            .filter_menu_itrem:hover {
                

                .item_name {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 16px 0 0;
                    box-sizing: border-box;

                    div:first-child {
                        height: 37px;
                        width: 5px;
                        background-color: $em_color;
                        margin-right: 10px;
                    }

                    div:last-child {
                        flex-grow: 1;
                        height: 37px;
                        border-bottom: 1px solid #EBEBEB;
                        font-size: 14px;
                        line-height: 37px;
                        color: #EF5B70;
                    }
                }

                ul {
                    max-height: fit-content;
                    transition: 0.5s;
                    list-style: none;
                    padding-left: 15px;
                    margin: 0;

                    li {
                        margin: 10px 0;

                        a {
                            font-size: 14px;
                            line-height: 17px;
                            color: #6F6E6E;
                            text-decoration: none;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }


                }
            }

        }
    }

    .size {
        display: inline-block;
        position: relative;

        tt {
            position: absolute;
            left: -15px;
            display: block;
            width: 79px;
            height: 30px;
        }

        .size_popup {
            display: none;
            position: absolute;
            top: 30px;
            left: -15px;
            width: 79px;
            background: white;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            z-index: 200;
            padding-bottom: 10px;
            box-sizing: border-box;

            label {
                display: inline-block;
                position: relative;
                font-size: 14px;
                line-height: 16px;
                color: #6F6E6E;
                margin: 10px 0 0 10px;
            }
            
            label > input[type="checkbox"] {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: pointer;
                opacity: 0;
                z-index: 400;
            }
            
            label > input[type="checkbox"] + span {
                display: inline-block;
                width: 13px;
                height: 13px;
                border: 1px solid #EBEBEB;
                margin-right: .5rem;
            }
            
            label > input[type="checkbox"]:checked + span {
                background-color: #666;
            }
        }
    }

    .size:hover {
        display: inline-block;
        position: relative;

        .size_popup {
            display: block;
            position: absolute;
            top: 30px;
            left: -15px;
            width: 79px;
            background: white;
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            z-index: 200;
            padding-bottom: 10px;
            box-sizing: border-box;



            label {
                display: inline-block;
                position: relative;
                font-size: 14px;
                line-height: 16px;
                color: #6F6E6E;
                margin: 10px 0 0 10px;
            }
            
            label > input[type="checkbox"] {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: pointer;
                opacity: 0;
                z-index: 400;
            }
            
            label > input[type="checkbox"] + span {
                display: inline-block;
                width: 13px;
                height: 13px;
                border: 1px solid #EBEBEB;
                margin-right: .5rem;
            }
            
            label > input[type="checkbox"]:checked + span {
                background-color: #666;
            }
        }
    }

}

@media (max-width: 1176px) {
    .product-to-hide {
        display: none;
        }
    
    .products_block_filters {
        justify-content: center;

        > div:first-child {
            margin-right: 30px;
        }

        > div:last-child {
            display: none;
        }
    }

}

@media (max-width: 770px) {
    .products_block_filters {
        width: 360px;
        margin: 50px auto 64px;
        justify-content: space-between;
    
        > div {
            width: auto;
            text-align: left;
            
            tt {
                width: 24px;
            }
    
            a {
                font-size: 12px;
                line-height: 14px;
            }
    
            a:hover {
                span {
                    text-decoration: underline;
                }
            }
        }
    
        .filter span {
            display: none;
        }

        .filter svg {
            width: 37.5px;
            height: 25px;
        }
    }
}

@media (max-width: 370px) {
    .products_block_filters {
        max-width: 360px;
        width: auto;
   
        div tt {
            width: 10px;
        }

        .filter svg {
            width: 30px;
            height: 20px;
        }
    }
}

.pagination {
    display: inline-block;
    border: 1px solid #EBEBEB;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0 15px 0 0;
        display: flex;
        justify-content: space-between;

        li {
            margin: 15px 0 15px 15px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #EF5B70;

            a {
                text-decoration: none;
                color: #C4C4C4;
            }

            a:hover {
                color: black;
            }
        }

        li:nth-last-child(3) {
            margin: 15px -15px 15px 0;
            color: #C4C4C4;
        }
    }
}