main {
    flex: 1 0 auto;

    .top_categories {
        padding-top: 65px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    
        >div {
            position: relative;
            background-color: rgba(33, 22, 22, 0.7);
            transition: 0.4s;

            img {
                display: block;
                width: 100%; 
                height: auto;
                position: relative;
                z-index: -100;
            }

            .cat_name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                text-align: center;
                width: 100%;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }

            em {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
            }
        }

        >div:hover {
            background-color: rgba(97, 35, 35, 0);
            transition-duration: 0.4s;
            
            .cat_name {
                display: none;
            }
        }

        .accessories {
            grid-column: 1 / span 3;
        }

        @media (max-width: 960px) {
                padding-top: 20px;
                gap: 20px;
        }

        @media (max-width: 600px) {
            display: block;

            >div:first-child {
                margin-top: 44px;
            }

            >div:nth-child(-n+3) {
                margin-bottom: 32px;
            }

            >div:last-child {
                height: 110px;

                img {
                    object-fit: cover;
                    object-position: center;
                    height: 110px;
                }
            }
        }
    }

    .products_block {
        text-align: center;
    
        &_header {
            padding-top: 96px;
            margin-bottom: 48px;
        
            h1 {
            font-size: 2em;
            font-weight: 500;
            }
        }
        
        .products_grid {
            margin-bottom: 63px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px,360px));
            justify-content: center;
            gap: 30px;
    
            div {
                background-color: #F8F8F8;

                .product_img {
                    position: relative;

                    img {
                        height: 420px;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    .product_overlay {
                        opacity: 0;
                        transition-duration: 0.4s;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 100;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(58, 56, 56, 0.86);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .button {
                            border: 1px solid white;
                            background-color: transparent;
                            padding: 14px 18px;
                            font-size: 14px;
                            line-height: 24px;
                            color: #FFFFFF;
                            transform: scale(0.6);
                            transition-duration: 0.4s;
                        }

                        .button::before {
                            content:url('img/add-to-cart.svg');
                            display: inline-block;
                            margin-right: 10px;
                            width: auto;
                            height: 24px;
                            vertical-align: -30%;
                        }
                    }

                    .product_overlay:hover {
                        opacity: 1;
                        transition-duration: 0.4s;
                        .button {
                            transform: scale(1);
                            transition-duration: 0.4s;
                        }

                    }
                }
            }

            .product_description {
                margin: 20px 30px 20px 20px;
                text-align: left;

                a {
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                    color: gray;
                }

                em {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }

        .button {
            display: inline-block;
            text-decoration: none;
            background-color: white;
            border: 1px solid $button_color;
            padding: 15px 40px;
            font-size: 16px;
            line-height: 19px;
            color: #F26376;
            transition: 0.4s;
        }

        .button:hover {
            display: inline-block;
            text-decoration: none;
            background-color: $em_color;
            color: #FFFFFF;
            transition: 0.4s;
        }
 
    }
    
    @import "scss/_aside.scss";
}