.header_shade {
        opacity: 0;
        position: absolute;
        top: 75px;
        left: 0;
        width: 100%;
        height: 766px;
        background: rgba(0, 0, 0, 0.5);
        z-index: 100;
        transition: 0.5s;
    }

    .header_image {
        display: flex;

        > div {
            width: 50%;
        }

        img {
            margin-top: 15px;
        }

        .slogan {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .bar {
                width: 12px;
                height: 92px;
                margin-left: 64px;
                background-color: $em_color;
                position: relative;
            }

            p {
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 38px;
                position: absolute;
                top: 0;
                left: 28px;
                width: max-content;
                margin: 0;

            }

            span {
                font-weight: 900;
                font-size: 48px;
                line-height: 58px;
            }

            @media (max-width: 960px) {
                .bar {
                    margin-left: 0px;
                }

                p {
                    font-size: 24px;
                    line-height: 29px;
                }

                span {
                    font-size: 44px;
                    line-height: 53px;
                }
            }

            @media (max-width: 360px) {
                .bar {
                    height: 74px;
                }

                p {
                    font-size: 20px;
                    line-height: 24px;                      
                }

                span {
                    font-size: 38px;
                    line-height: 46px;
                }
            }
        }

        @media (max-width: 960px) {
            .slogan {
                width: 315px;
            }

            .man-in-jacket {
                text-align: center;
            }

            img {
                height: 380px;
                width: auto;
            }
        }

        @media (max-width: 650px) {
            .man-in-jacket {
                display: none;
            }
        }

        @media (max-width: 360px) {
            .slogan {
                width: 260px;
            }
        }

        @media (max-width: 650px) {
            justify-content: center;
            align-items: center;
            height: 360px;
        }
    }

@import"_menu.scss";