.product_image {
    background-color: #F7F7F7;
    stroke: 1px solid #EAEAEA;
    box-sizing: border-box;
    height: 777px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    .product_gallery_arrows {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 100;

        a {
            display: block;
            background-color: #D8D8D8;
            height: 47px;
            width: 47px;
            text-align: center;

            svg {
                fill: black;
                margin: 12px 0;
            }
        }

        a:last-child {
            svg {
                fill: #F16D7F;
            }
        }
    }

    .product_gallery {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.product_main_description {
    background-color: white;
    border: 1px solid #EAEAEA;
    width: 100%;
    height: 600px;
    margin-top: -64px;
    margin-bottom: 128px;
    padding: 0;
    position: relative;
    z-index: 100;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        margin: 12px 0;
    }

    .divider {
        display: inline-block;
        background-color: $em_color;
        width: 63px;
        height: 3px;
    }

    h1 {
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #4D4D4D;
        margin: 12px 0;
    }

    p {
        font-weight: 300;
        color: #5E5E5E;
        margin: 32px 25%;
    }

    .pricetag {
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: $em_color;
    }

    .divider_price {
        display: inline-block;
        background-color: #EAEAEA;
        width: 641px;
        height: 1px;
        margin: 64px 0;
    }

    .selectors {
        display: flex;
        justify-content: center;
        margin-bottom: 48px;

        > div{
            text-align: center; 
        }

       
        span {
            margin-right: 10px;
        }
        
        tt {
            display: inline-block;
            width: 28px;
        }

        a {
            text-decoration: none;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
        }

        a:hover {
            span {
                text-decoration: underline;
            }
        }
    }

    a {
        text-decoration: none;
        text-align: center;
        
        .button {
            display: inline-block;
            border: 1px solid #F26376;
            background-color: transparent;
            padding: 14px 30px;
            font-size: 14px;
            line-height: 24px;
            color: #F26376;;
        }

        .button::before {
            content:url('img/add-to-cart-pink.svg');
            fill: #EF5B70;
            display: inline-block;
            margin-right: 22px;
            width: auto;
            height: 24px;
            vertical-align: -30%;
        }
    }

    a:hover {

        .button {
            background-color: #F26376;
            color: white;;
        }

        .button::before {
            content:url('img/add-to-cart.svg');
            fill: white;
            display: inline-block;
            margin-right: 22px;
            width: auto;
            height: 24px;
            vertical-align: -30%;
        }
    }
}

@media (max-width: 1142px) {
    .product_main_description {
        width: 768px;
    
        p {
            margin: 32px 10%;
        }
    }
}

@media (max-width: 770px) {
    .product_image {
        height: 624px;
    
        .product_gallery {
            img {
                height: 565px;
                width: auto;
            }
        }
    }

    .product_main_description {
        width: 100%;
        margin-top: 0;
        border-left: none;
        border-right: none;
    
        .divider_price {
            width: 80%;
        }
    }
}

@media (max-width: 466px) {
    .product_image {
        .product_gallery {
            img {
                width: 100%;
                height: auto;
            }
        }
    }

    .product_main_description {
        margin-bottom: 64px;
        h1 {
            margin: 12px 0 0;
        }
    
        p {
            margin: 32px 24px;
        }
    
        .divider_price {
            width: 45%;
            margin: 32px 0 48px;
        }
    
        .selectors {
            margin-bottom: 64px;
    
            span {
                font-size: 10px;
                line-height: 12px;
            }
            
            tt {
                width: 20px;
            }
        }
    }

    .spacer65 {
        display: none;
    }
}

.spacer65 {
    width: 100%;
    height: 65px;
}