.registration {
    margin: 64px auto 96px;
    display: flex;
    justify-content: space-between;

    >div {
        
        .registration_adress {
            width: 360px;
            margin: 0 auto;

            h1 {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 20px;
            }

            .infield {
                width: 100%;
                margin-bottom: 20px;
                border: 1px solid #A4A4A4;
                height: 45px;
                outline: none;
                box-sizing: border-box;
                padding: 0 20px;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #222;
            }

            input:focus::placeholder {
                color: #B1B1B1;
            }

            .registration_radio {
                display: flex;
                margin: 12px 0 32px;

                input {
                    appearance: none;
                  
                    border-radius: 50%;
                    width: 17px;
                    height: 17px;
                  
                    border: 1px solid #A4A4A4;
                    transition: 0.3s;
                    margin-right: 10px;
                  
                    position: relative;
                    top: -2px;
                }
                  
                input:checked {
                    border: 6px solid $em_color;
                }

                label {
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 13px;
                    color: #000000;
                    margin-right: 20px;
                }
            }

            p {
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
                margin: -5px 0 39px;
            }
            

            .registration_button {
                font-size: 14px;
                line-height: 17px;
                color: white;
                background-color: $em_color;
                border: 1px solid $em_color;
                padding: 15px 30px;
                box-sizing: border-box;
                transition: 0.4s;

                svg {
                    margin-left: 20px;
                    fill: white;
                }
            }

            .registration_button:hover {
                background-color: white;
                color: $em_color;
                cursor: pointer;
                transition: 0.4s;

                svg {
                    fill: $em_color;
                }
            }
        }

        .registration_text_block {
            flex-grow: 1;

            div {
                margin: 0 0 0 15%;

                h1 {
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 29px;
                    margin-bottom: 22px;
                }

                p {
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 29px;
                    color: #000000;
                    margin-bottom: 22px;
                }

                ul {
                    list-style: none;
                    font-weight: 300;
                    font-size: 24px;
                    line-height: 29px;
                    padding: 0;

                    li {
                        margin-bottom: 16px;
                    }

                    li:before {
                        content: url('img/V.svg');
                        margin-right: 10px;
                        display: inline-block;
                    }
                }
            }
        }

        @media (max-width: 1140px) {
            .registration_text_block {
                flex-grow: 0;
                div {
                    margin: 0 0 0 10%;
                }
            }
        }

        @media (max-width: 990px) {
            .registration_text_block {
    
                div {
                    margin: 0 0 0 22px;
    
                    h1 {
                        font-size: 16px;
                        line-height: 19px;
                        margin-bottom: 32px;
                    }
    
                    p {
                        font-size: 16px;
                        line-height: 19px;
                    }
    
                    ul {
                        font-size: 16px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
}

@media (max-width: 660px) {
    .registration {
        flex-direction: column;
        margin: 40px auto 96px;

        >div {
        
            .registration_adress {
                max-width: 360px;
                width: 100%;
                margin-bottom: 40px;
            }
    
            .registration_text_block {
                flex-grow: 1;
    
                div {
                    margin: 0 auto;
                    max-width: 360px;
                    width: 100%;
                }
            }
        }
    }
}