$max_width: 1140px;
$basic_color: #222222;
$em_color: #F16D7F;
$button_color: #FF6A6A;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@import "_reset.scss";

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    color: $basic_color;
}

.container {
    margin: 0 auto;
    max-width: $max_width;
    padding:0 10px;
}

p {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 6px;
}

h1 {
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

h2 {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
}

h3 {
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
}

em {
    color: $em_color;
    font-style: normal;
}

header {
    flex: 0 0 auto;
    background-color: #F1E4E6;

    nav {
        background-color: $basic_color;
        
        ul {
            display: flex;
            align-items: center;
            list-style-type: none;
            height: 75px;
            margin: 0;
    
            li:nth-child(3) {
                flex-grow: 1;
            }
        
            li:nth-child(-n+2) {
                padding-right: 40px;
            }
        
            li:nth-last-child(-n+2) {
                padding-left: 40px;
                }
    
            li:last-child {
                position: relative;
    
                .count {
                    position: absolute;
                    top: -7px;
                    right: -10px;
                    height: 19px;
                    width: 19px;
                    background-color: $button_color;
                    border-radius: 50%;
                    overflow: hidden;
                    text-align: center;
                    font-size: 12px;
                    line-height: 18px;
                    color: white;
                }
            }
        
            @media (max-width: 1170px) {
                li:last-child .count {
                    right: 10px;
                }

                li:nth-child(-n+1) {
                    padding-left: 22px;
                }
                    
                li:nth-last-child(-n+1) {
                    padding-right: 22px;
                }
            }
    
            @media (max-width: 480px) {
                li:nth-last-child(-n+2) {
                    display: none;
                }
                li:nth-last-child(3) {
                    padding-right: 32px;
                }
            }
        }
    
    }

    .header_image {
        display: flex;

        > div {
            width: 50%;
        }

        img {
            margin-top: 15px;
        }

        .slogan {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .bar {
                width: 12px;
                height: 92px;
                margin-left: 64px;
                background-color: $em_color;
                position: relative;
            }

            p {
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 38px;
                position: absolute;
                top: 0px;
                left: 28px;
                width: max-content;
                margin: 0;

            }

            span {
                font-weight: 900;
                font-size: 48px;
                line-height: 58px;
            }

            @media (max-width: 960px) {
                .bar {
                    margin-left: 0px;
                }

                p {
                    font-size: 24px;
                    line-height: 29px;
                }

                span {
                    font-size: 44px;
                    line-height: 53px;
                }
            }

            @media (max-width: 360px) {
                .bar {
                    height: 74px;
                }

                p {
                    font-size: 20px;
                    line-height: 24px;                      
                }

                span {
                    font-size: 38px;
                    line-height: 46px;
                }
            }
        }

        @media (max-width: 960px) {
            .slogan {
                width: 315px;
            }

            .man-in-jacket {
                text-align: center;
            }

            img {
                height: 380px;
                width: auto;
            }
        }

        @media (max-width: 650px) {
            .man-in-jacket {
                display: none;
            }
        }

        @media (max-width: 360px) {
            .slogan {
                width: 260px;
            }
        }

        @media (max-width: 650px) {
            justify-content: center;
            align-items: center;
            height: 360px;
        }
    }



    .side_menu {
        display: none;
    }
}

main {
    flex: 1 0 auto;

    .top_categories {
        padding-top: 65px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    
        >div {
            position: relative;
            background-color: rgba(33, 22, 22, 0.7);
            transition-duration: 0.4s;

            img {
                display: block;
                width: 100%; 
                height: auto;
                position: relative;
                z-index: -1;
            }

            .cat_name {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                text-align: center;
                width: 100%;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
            }

            em {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
            }
        }

        >div:hover {
            background-color: rgba(97, 35, 35, 0);
            transition-duration: 0.4s;
            
            .cat_name {
                display: none;
            }
        }

        .accessories {
            grid-column: 1 / span 3;
        }

        @media (max-width: 960px) {
                padding-top: 20px;
                gap: 20px;
        }

        @media (max-width: 600px) {
            display: block;

            >div:first-child {
                margin-top: 44px;
            }

            >div:nth-child(-n+3) {
                margin-bottom: 32px;
            }

            >div:last-child {
                height: 110px;

                img {
                    object-fit: cover;
                    object-position: center;
                    height: 110px;
                }
            }
        }
    }

    .featured_items {
        padding-top: 96px;
        text-align: center;
    
        &_header {
            margin-bottom: 48px;
        
            h1 {
            font-size: 2em;
            font-weight: 500;
            }
        }
        
        .products_grid {
            margin-bottom: 63px;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px,360px));
            justify-content: center;
            gap: 30px;
    
            div {
                background-color: #F8F8F8;

                .product_img {
                    position: relative;

                    img {
                        height: 420px;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    .product_overlay {
                        opacity: 0;
                        transition-duration: 0.4s;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(58, 56, 56, 0.86);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .button {
                            border: 1px solid white;
                            background-color: transparent;
                            padding: 14px 18px;
                            font-size: 14px;
                            line-height: 24px;
                            color: #FFFFFF;
                        }

                        .button::before {
                            content:url('img/add-to-cart.svg');
                            display: inline-block;
                            margin-right: 10px;
                            width: auto;
                            height: 24px;
                            vertical-align: -30%;
                        }
                    }

                    .product_overlay:hover {
                        opacity: 1;
                        transition-duration: 0.4s;
                    }
                }
            }

            .product_description {
                margin: 20px 30px 20px 20px;
                text-align: left;

                em {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
        }

        .button {
            text-decoration: none;
            background-color: white;
            border: 1px solid $button_color;
            padding: 15px 40px;
            font-size: 16px;
            line-height: 19px;
            color: #F26376;
            transition: 0.4s;
        }

        .button:hover {
            text-decoration: none;
            background-color: $em_color;
            color: #FFFFFF;
            transition: 0.4s;
        }
 
    }
    
    aside {
        background-color: #222224;
        margin-top: 110px;

        .conditions{
            display: flex;
            justify-content: space-around;
            
            div {
                padding: 95px 0;
                width: 300px;
                text-align: center;
                color: white;

                img {
                    width: 50px;
                    height: 50px;
                    object-fit: none;
                    object-position: center;
                }

                h2 {
                    margin: 28px 0 16px;
                }

                p {
                    font-weight: 300;
                    color: #FBFBFB;
                    margin: 0;
                }
            }
        }

        @media (max-width: 960px) {
            .conditions {
                flex-direction: column;
                align-items: center;

                div {
                    padding: 48px 0 0;
                }

                div:last-child {
                    padding: 48px 0 64px;
                }
            }
        } 
    }
}

footer {
    flex: 0 0 auto;
    background-color: #222224;

    .quote_n_subscribe {
        background-image: url(img/subscribe_bkg.jpg);
        background-repeat: no-repeat;
        background-position: center;
        height: 448px;
        
        &>div {
            display: flex;
            justify-content: space-around;

            &>div {
                text-align: center;
            }

            .quote {
                max-width: 360px;
                margin: 143px 0;

                img {
                    margin: 0 0 30px;
                }

                h2 {
                    color: #222224;
                    margin: 0;
                }
                
            }
            .subscribe {
                max-width: 360px;
                margin: 175px 0;

                h1 {
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 24px;
                }

                p {
                    font-weight: normal;
                    font-size: 18px;
                    margin-bottom: 32px;
                }

                .inputgroup {
                    display: flex
                }

                input {
                    display: block;
                    width: 100%;
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border-radius: 30px 0 0 30px;
                    color: #616161;
                    border: none;
                    background-color: #E1E1E1;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                }

                a {
                    text-decoration: none;
                }
                
                .button {
                    display: block;
                    padding: 12px 20px;
                    background-color: $em_color;
                    border: 1px solid $em_color;
                    border-radius: 0 30px 30px 0;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    transition: 0.4s;
                }

                .button:hover {
                    border: 1px solid $em_color;
                    background-color: white;
                    color: $em_color;
                    transition: 0.4s;
                }
    
            }
        }
    }    

    @media (max-width: 960px) {
        .quote_n_subscribe {
            height: 615px;
            background-size: cover;
            background-position-x: 25%;

            &>div {
                flex-direction: column;
                align-items: center;

                .quote {
                    margin: 64px 0 80px;
                } 
                
                .subscribe {
                    margin: 0 0 64px;
                }
            }
        } 
    }

    @media (max-width: 600px) {
        .quote_n_subscribe {
            height: 550px;
            
            &>div {
                display: flex;
                justify-content: space-around;
    
                &>div {
                    text-align: center;
                }

                .quote {

                    h2 {
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                .subscribe {

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    
    .copyright {
        height: 80px;

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            margin: 0;
            list-style-type: none;
            padding: 0;

            li {
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #FBFBFB;
            }

            li:nth-child(2) {
                flex-grow: 1;
            }

            li:nth-last-child(-n+4) {
                margin-left: 8px;
                width: 32px;
                height: 32px;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                transition: 0.3s;

                svg{
                    fill: black;
                    transition: 0.3s;
                }
            }

            li:nth-last-child(-n+4):hover {
                background-color: $em_color;
                transition: 0.3s;

                svg{
                    fill: white;
                    transition: 0.3s;
                }
            }
        }

        @media (max-width: 480px) {
            height: 143px;

            ul {
            flex-wrap: wrap;
            justify-content: center;

                li {
                    margin: 40px 8px;
                }

                li:nth-child(2) {
                    display: none;
                }

                li:first-child {
                    margin: 0 0 9px 0;
                    order: 1;
                    flex: 1 0 100%;
                    text-align: center;
                }
            }
        }
    }
}